CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/phytec/mx7d_phyboard_zeta/imximage_mt41k256m16tw-107it.cfg, CONFIG_PHYTEC_MT41K256M16TW107IT,FDT=imx7d-phyboard-zeta-001"
CONFIG_ARM=y
CONFIG_ARCH_MX7=y
CONFIG_TARGET_MX7D_PHYBOARD_ZETA=y
CONFIG_IMX_RDC=y
CONFIG_IMX_BOOTAUX=y
CONFIG_SYS_MALLOC_F=y
CONFIG_SYS_MALLOC_F_LEN=0x400
