CONFIG_ARM=y
CONFIG_ARCH_MX7=y
CONFIG_TARGET_MX7D_PHYBOARD_ZETA=y
CONFIG_IMX_RDC=y
CONFIG_IMX_BOOTAUX=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/phytec/mx7d_phyboard_zeta/imximage_mt41k64m16tw-107it.cfg,PHYTEC_MT41K64M16TW107IT,FDT=imx7s-phyboard-zeta-002,SYS_BOOT_NAND"
